node_modules
build
.DS_Store
dist/
.env
compiled-ts/

coverage/
cypress/videos
cypress/screenshots
.nyc_output

.vscode

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions