html, body {
  height: 100%;
  font-size: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* sofia-pro, "Helvetica Neue", Helvetica, Arial, sans-serif ? */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  width: 100%;
  border: 1px solid rgba(66,66,66,.95);
}

tr {
  border: 1px solid;
}

td {
  padding: .75em;
  border-bottom: 1px solid rgba(66,66,66,.95);
}

th {
  border-bottom: 1px solid rgba(66,66,66,.95);
  padding: .75em;
}

.ReactModal__Body--open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}