@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url("./assets/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("./assets/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url("./assets/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: 300;
  src: url("./assets/fonts/Raleway-Light.ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  src: url("./assets/fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: 500;
  src: url("./assets/fonts/Raleway-Medium.ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: 600;
  src: url("./assets/fonts/Raleway-SemiBold.ttf");
}

html,
body {
  height: 100%;
  font-size: 100%;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

*:focus:not(.focus-visible) {
  outline: 0 !important;
  box-shadow: none !important;
}

/* sofia-pro, "Helvetica Neue", Helvetica, Arial, sans-serif ? */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background: none;
  font: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table {
  width: 100%;
  border: 1px solid rgba(66, 66, 66, 0.95);
}

tr {
  border: 1px solid;
}

td {
  padding: 0.75em;
  border-bottom: 1px solid rgba(66, 66, 66, 0.95);
}

th {
  border-bottom: 1px solid rgba(66, 66, 66, 0.95);
  padding: 0.75em;
}

.ReactModal__Body--open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.ReactModal__Content {
  font-family: "Montserrat", sans-serif;
}

/* tailwind transition classes */
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.duration-150 {
  transition-duration: 0.15s;
}

.transition {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
}

.scale-95 {
  transform: scale(0.95);
}

.scale-100 {
  transform: scale(1);
}

.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ease-linear {
  transition-timing-function: linear;
}

.transform {
  --transform-translate-x: 0 !important;
  --transform-translate-y: 0 !important;
  --transform-rotate: 0 !important;
  --transform-skew-x: 0 !important;
  --transform-skew-y: 0 !important;
  --transform-scale-x: 1 !important;
  --transform-scale-y: 1 !important;
  transform: translateX(var(--transform-translate-x))
    translateY(var(--transform-translate-y)) rotate(var(--transform-rotate))
    skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y))
    scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y)) !important;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.duration-75 {
  transition-duration: 75ms;
}

.duration-100 {
  transition-duration: 100ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.-translate-x-full {
  transform: translateX(-100%);
}

.translate-x-0 {
  transform: translateX(0);
}

dd {
  margin-inline-start: auto;
}